* {margin:0 ;
padding: 0;}
body {height: 400px;
width: auto;
display: grid;
gap: 7%;
grid-template-rows: 20% 100px 100px 50px auto;
grid-template-columns:auto auto auto ;}

a {font-family: Roboto;}
h2 {font-family: Roboto;}
button {font-family: Roboto;}

a:hover {background-color: whitesmoke;}
.entrada {grid-row: 1/2;
grid-column: 1/4;
height: ;
font-size: 50px;
}
.gmail {position: absolute;
left: 70%; text-decoration: none;}
.imagen {position: absolute;
left: 76%; text-decoration: none;}
.apps {position: absolute;
left: 85%; text-decoration: none;}
.lag {width: 500px;
height: 1px; }

.logo {grid-row: 2/3;
grid-column: 1/4;
width: auto ;
height: px; border: black solid 1px;}

.logo1 {width: 350px;}

.barra1 {position: absolute;
top: 22%;
left: 40%;
height: 30px;
width: 50px;}
.barra2 {position: absolute;
    top: 22%;
    left: 42%;
height: 30px;}
.barra {grid-row: 3/4;  
grid-column: 1/4; 
border: 1px black solid;
height: 100px;}
.botones {grid-row:4/5 ;
grid-column: 1/4;
border:1px solid black ;
}
button:hover {background-color: whitesmoke;}
.chile {grid-column:1/4 ;
grid-row: 5/6;
border: 1px solid black;}







